<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">

    <script defer src=../Model/Actor.js></script>
    <script defer src=../Model/Stars.js></script>
    <script defer src=../Model/Background.js></script>
    <script defer src=../Model/Player.js></script>
    <script defer src=../Model/ExtendedBackground.js></script>
    <script defer src=../Model/Hitbox.js></script>
    <script defer src=../Model/PlusPointHitbox.js></script>
    <script defer src=../Model/MinusPointHitbox.js></script>
    <script defer src=../Model/DeadlyHitbox.js></script>
    <script defer src=../Model/Hoop.js></script>
    <script defer src=../Model/FullHoop.js></script>
    <script defer src="../Controller/EventHandlers/KeyboardEvents.js"></script>
    <script defer src=../Controller/Game.js></script>
    <script defer src="../Controller/Buttons/GameButton.js"></script>
    <script defer src="../Controller/Buttons/SwitchMenusButton.js"></script>
    <script defer src="../Controller/Buttons/HelpButton.js"></script>
    <script defer src="../Controller/Buttons/LoadGameButton.js"></script>
    <script defer src="../Controller/Buttons/PauseButton.js"></script>
    <script defer src="../Controller/Buttons/PlayButton.js"></script>
    <script defer src="../Controller/Buttons/QuitButton.js"></script>
    <script defer src="../Controller/Buttons/ReturnButton.js"></script>
    <script defer src="../Controller/Buttons/SoundButton.js"></script>
    <script defer src=../Controller/EventHandlers/MainEventHandler.js></script>
    <script defer src=../View/GameView.js></script>
    <script defer src="../Main.js"></script>

    <title>Game</title>
</head>

<body>
<img src="../../Images/title-image.png" alt="bg" id="title-image" hidden>
<img src="../../Images/stars.png" alt="bg" id="stars" hidden>

<img src="../../Images/Level%20Easy/level-easy-background-layer-1.png" alt="bg" id="background-easy-layer-1" hidden>
<img src="../../Images/Level%20Easy/level-easy-background-layer-2.png" alt="bg" id="background-easy-layer-2" hidden>
<img src="../../Images/Level%20Easy/level-easy-background-layer-3.png" alt="bg" id="background-easy-layer-3" hidden>

<img src="../../Images/Level%20Medium/level-medium-background-layer-1.png" alt="bg" id="background-medium-layer-1"
     hidden>
<img src="../../Images/Level%20Medium/level-medium-background-layer-2.png" alt="bg" id="background-medium-layer-2"
     hidden>
<img src="../../Images/Level%20Medium/level-medium-background-layer-3.png" alt="bg" id="background-medium-layer-3"
     hidden>

<img src="../../Images/Level%20Hard/level-hard-background-layer-1.png" alt="bg" id="background-hard-layer-1" hidden>
<img src="../../Images/Level%20Hard/level-hard-background-layer-2.png" alt="bg" id="background-hard-layer-2" hidden>
<img src="../../Images/Level%20Hard/level-hard-background-layer-3.png" alt="bg" id="background-hard-layer-3" hidden>

<img src="../../Images/Level%20Extreme/level-insane-background-layer-1.png" alt="bg" id="background-insane-layer-1"
     hidden>
<img src="../../Images/Level%20Extreme/level-insane-background-layer-2.png" alt="bg" id="background-insane-layer-2"
     hidden>
<img src="../../Images/Level%20Extreme/level-insane-background-layer-3.png" alt="bg" id="background-insane-layer-3"
     hidden>

<img src="../../Images/Hoop.png" alt="hoop" id="hoop" hidden>
<img src="../../Images/hoop-front.png" alt="hoop" id="hoop-front" hidden>

<img src="../../Images/Harry.svg" alt="harry" id="Harry-Potter-wizard" hidden>

<audio id="mainTheme" class="music" src="../../Sounds-and-Music/hpmusic.mp3"></audio>
<audio id="gameMusic" class="music" src="../../Sounds-and-Music/game-music.wav" loop></audio>
<audio id="fly-up-sound" class="sound" src="../../Sounds-and-Music/wind-blow.wav"></audio>
<audio id="knock-sound" class="sound" src="../../Sounds-and-Music/wood-hit.wav"></audio>
<audio id="click-sound" class="sound" src="../../Sounds-and-Music/click.wav"></audio>
<audio id="clink-sound" class="sound" src="../../Sounds-and-Music/clink.mp3"></audio>


<div class="main-container">

    <!--
        ===============================================================
                               GAME -->
    <canvas id="canvas" width="1280" height="720">
    </canvas>
    <!--===============================================================-->


    <div class="container">

        <!--
        ===============================================================
                               START -->
        <section id="start-it">
            <h1>Greetings!</h1>
            <p>Hello fellow gamer! We are glad to see you here! Now, lets dive together deep into the magic world full
                of
                wizards and astounding spells. You may fall into the dust like many had, but you might become glorious
                undefeated champion!<br><br>Do you think you can make it?</p>
            <div id="player-name">
                <label for="hero-name">You play for:</label>
                <input id="hero-name" type="text" placeholder="Your Hero Name">
            </div>
            <button id="button-do-it" type="button" class="button-polygon-3 ">Lets start!</button>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               GAME MENU -->
        <section id="in-game-menu-top" hidden>
            <div id="in-game-player-name-container">
                <h1 id="in-game-player-name">Player Name</h1>
            </div>

            <div id="in-game-stats">
                <div class="in-game-points">
                    <h3>Points:</h3>
                    <p id="points-in-game" class="scored-points">0</p>
                </div>
                <div class="in-game-time">
                    <h3>Time:</h3>
                    <p id="time-in-game" class="time-from-start">00:00:00</p>
                </div>
            </div>

            <div class="right-buttons">
                <button class="button-cube button-sound">
                    <span class="volume-on"><ion-icon name="volume-high"></ion-icon></span>
                    <span class="volume-off" hidden><ion-icon
                            name="close-circle-outline"></ion-icon></span>
                </button>
                <button class="button-cube button-music">
                    <span class="music-on"><ion-icon name="musical-notes"></ion-icon></span>
                    <span class="music-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                </button>
                <button id="button-paused" class="button-cube">
                    <span class="icon-in-button-cube"><ion-icon name="pause"></ion-icon></span>
                </button>
            </div>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               MAIN MENU -->
        <section id="main-menu" class="menu animated a1" hidden>
            <div id="main-menu-top" class="menu-top animated a2">
                <div class="left-buttons">
                    <button type="button" class="button-cube button-help" disabled>
                        <span class="icon-in-button-cube"><ion-icon name="help-outline"></ion-icon></span>
                    </button>
                </div>

                <div class="right-buttons">
                    <button class="button-cube button-sound">
                        <span class="volume-on"><ion-icon name="volume-high"></ion-icon></span>
                        <span class="volume-off" hidden><ion-icon
                                name="close-circle-outline"></ion-icon></span>
                    </button>
                    <button class="button-cube button-music">
                        <span class="music-on"><ion-icon name="musical-notes"></ion-icon></span>
                        <span class="music-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                    </button>
                    <a href="https://github.com/furious-student" target="_blank">
                        <button class="button-cube button-settings">
                            <span class="icon-in-button-cube"><ion-icon name="logo-github"></ion-icon></span>
                        </button>
                    </a>
                </div>
            </div>

            <div id="title" class="animated a1">
                <h1 id="harry-potter">Flappy Wizard - Inspired by Harry Potter</h1>
                <p>
                    <q>We are only as strong as we are united, as weak as we are divided.</q>
                    <br>
                    <small>– Albus Dumbledore, Harry Potter and the Goblet of Fire, Chapter 37</small>
                </p>
            </div>

            <div class="options">
                <hr id="main-menu-hr" class="animated a3">
                <h2 id="main-menu-options-1" class="animated a4">Choose the game difficulty:</h2>
                <div id="main-menu-options-2" class="game-difficulty-buttons animated a4">
                    <input class="game-difficulty-option" type="radio" id="radiobutton-easy" name="game-difficulty"
                           value="Easy">
                    <label class="button-easy" for="radiobutton-easy">Easy</label>

                    <input class="game-difficulty-option" type="radio" id="radiobutton-medium" name="game-difficulty"
                           value="Medium" checked>
                    <label class="button-medium" for="radiobutton-medium">Medium</label>

                    <input class="game-difficulty-option" type="radio" id="radiobutton-hard" name="game-difficulty"
                           value="Hard">
                    <label class="button-hard" for="radiobutton-hard">Hard</label>

                    <input class="game-difficulty-option" type="radio" id="radiobutton-insane" name="game-difficulty"
                           value="Insane">
                    <label class="button-insane" for="radiobutton-insane">Insane</label>
                </div>

                <div id="main-menu-game-options" class="game-options animated a5">
                    <button id="button-play" class="button-polygon-2" disabled>
                        <span class="text-in-button-polygon-2">Play</span>
                    </button>
                    <button id="button-leaderboard" class="button-polygon-2" disabled>
                        <span class="text-in-button-polygon-2">Leaderboard</span>
                    </button>
                    <button id="button-change-character" class="button-polygon-2" disabled>
                        <span class="text-in-button-polygon-2">Change character</span>
                    </button>
                </div>
            </div>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               GAME PAUSED MENU -->
        <section id="game-menu" class="menu" hidden>
            <div class="game-paused-menu-top">
                <button type="button" class="button-cube button-help">
                    <span class="icon-in-button-cube"><ion-icon name="help-outline"></ion-icon></span>
                </button>
                <div class="paused-title">
                    <h1>Game Paused</h1>
                </div>
                <hr id="game-menu-hr">
            </div>

            <div class="game-paused-settings">
                <div class="game-paused-sounds-music">
                    <div id="game-paused-sound">
                        <button class="button-cube button-sound">
                            <span class="volume-on"><ion-icon name="volume-high"></ion-icon></span>
                            <span class="volume-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                        </button>
                        <div class="slide-container">
                            <input id="volume-slider" type="range" min="1" max="100" class="sound-slider">
                        </div>
                    </div>
                    <div id="game-paused-music">
                        <button class="button-cube button-music">
                            <span class="music-on"><ion-icon name="musical-notes"></ion-icon></span>
                            <span class="music-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                        </button>
                        <div class="slide-container">
                            <input id="music-slider" type="range" min="1" max="100" class="music-slider">
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-stats">
                <h2>Game Stats:</h2>
                <div class="game-stats-table">
                    <div class="points">
                        <h3>Points:</h3>
                        <hr class="paused-game-stats-hr">
                        <p class="points-stat">- 0 -</p>
                    </div>
                    <div class="missed-hooks">
                        <h3>Missed Hooks:</h3>
                        <hr class="paused-game-stats-hr">
                        <p class="missed-hoops-stat">- 0 -</p>
                    </div>
                    <div class="time">
                        <h3>Time:</h3>
                        <hr class="paused-game-stats-hr">
                        <p class="time-stat">00:00:00</p>
                    </div>
                </div>
            </div>

            <div class="game-paused-options">
                <button id="button-resume" class="button-polygon-2">
                    <span class="text-in-button-polygon-2">Resume</span>
                </button>
                <button class="button-polygon-2 button-restart">
                    <span class="text-in-button-polygon-2">Restart</span>
                </button>
                <button class="button-polygon-2 button-quit">
                    <span class="text-in-button-polygon-2">Quit</span>
                </button>
            </div>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               GAME OVER MENU -->
        <section id="game-over-menu" class="menu" hidden>
            <div class="game-over-menu-top">
                <button type="button" class="button-cube button-help">
                    <span class="icon-in-button-cube"><ion-icon name="help-outline"></ion-icon></span>
                </button>
                <div class="game-over-right-buttons">
                    <div class="right-buttons">
                        <button class="button-cube button-sound">
                            <span class="volume-on"><ion-icon name="volume-high"></ion-icon></span>
                            <span class="volume-off" hidden><ion-icon
                                    name="close-circle-outline"></ion-icon></span>
                        </button>
                        <button class="button-cube button-music">
                            <span class="music-on"><ion-icon name="musical-notes"></ion-icon></span>
                            <span class="music-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                        </button>
                    </div>
                </div>
                <div class="game-over-title">
                    <h1>Game Over</h1>
                </div>
            </div>

            <hr id="game-over-hr">

            <div class="score-container">
                <div class="score">
                    <div class="game-over-points">
                        <h3>Points:</h3>
                        <hr class="paused-game-stats-hr">
                        <p class="points-stat">- 0 -</p>
                    </div>
                    <div class="game-over-missed-hooks">
                        <h3>Missed Hooks:</h3>
                        <hr class="paused-game-stats-hr">
                        <p class="missed-hoops-stat">- 0 -</p>
                    </div>
                    <div class="game-over-time">
                        <h3>Time:</h3>
                        <hr class="paused-game-stats-hr">
                        <p class="time-stat">00:00:00</p>
                    </div>
                </div>
            </div>

            <div class="game-over-options">
                <button class="button-polygon-3 button-restart">
                    <span class="text-in-button-polygon-2">Try again!</span>
                </button>
                <button class="button-polygon-3 button-quit">
                    <span class="text-in-button-polygon-2">Quit</span>
                </button>
            </div>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               LEADERBOARD -->
        <section id="leaderboard" class="menu" hidden>
            <div class="menu-top">
                <div class="left-buttons">
                    <button type="button" class="button-cube button-help">
                        <span class="icon-in-button-cube"><ion-icon name="help-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="right-buttons">
                    <div class="right-buttons">
                        <button class="button-cube button-sound">
                            <span class="volume-on"><ion-icon name="volume-high"></ion-icon></span>
                            <span class="volume-off" hidden><ion-icon
                                    name="close-circle-outline"></ion-icon></span>
                        </button>
                        <button class="button-cube button-music">
                            <span class="music-on"><ion-icon name="musical-notes"></ion-icon></span>
                            <span class="music-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                        </button>
                    </div>
                    <button class="button-cube button-home">
                        <span class="icon-in-button-cube"><ion-icon name="home"></ion-icon></span>
                    </button>
                </div>
            </div>

            <div id="leaderboard-title">
                <h1>Leaderboard</h1>
                <hr id="leaderboard-hr">
            </div>

            <div id="leaderboard-table-id-container" class="leaderboard-container">
                <div id="leaderboard-table-id" class="leaderboard-table">
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">1.</div>
                        </div>
                        <div class="leaderboard-name">Harry Potter</div>
                        <div class="leaderboard-score">68</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">2.</div>
                        </div>
                        <div class="leaderboard-name">Albus Percival Wulfric Brian Dumbledore</div>
                        <div class="leaderboard-score">65</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">3.</div>
                        </div>
                        <div class="leaderboard-name">Hermione Granger</div>
                        <div class="leaderboard-score">59</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">4.</div>
                        </div>
                        <div class="leaderboard-name">Ron Weasley</div>
                        <div class="leaderboard-score">57</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">5.</div>
                        </div>
                        <div class="leaderboard-name">Severus Snape</div>
                        <div class="leaderboard-score">53</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">6.</div>
                        </div>
                        <div class="leaderboard-name">Lord Voldemort</div>
                        <div class="leaderboard-score">52</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">7.</div>
                        </div>
                        <div class="leaderboard-name">Rubeus Hagrid</div>
                        <div class="leaderboard-score">45</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">8.</div>
                        </div>
                        <div class="leaderboard-name">Bellatrix Lestrange</div>
                        <div class="leaderboard-score">44</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">9.</div>
                        </div>
                        <div class="leaderboard-name">Sirius Black</div>
                        <div class="leaderboard-score">41</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">10.</div>
                        </div>
                        <div class="leaderboard-name">Ginny Weasley</div>
                        <div class="leaderboard-score">38</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">11.</div>
                        </div>
                        <div class="leaderboard-name">Neville Longbottom</div>
                        <div class="leaderboard-score">33</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">12.</div>
                        </div>
                        <div class="leaderboard-name">Draco Malfoy</div>
                        <div class="leaderboard-score">27</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">13.</div>
                        </div>
                        <div class="leaderboard-name">Luna Lovegood</div>
                        <div class="leaderboard-score">22</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">14.</div>
                        </div>
                        <div class="leaderboard-name">Minerva McGonagall</div>
                        <div class="leaderboard-score">19</div>
                    </div>
                    <div class="leaderboard-item">
                        <div class="leaderboard-number">
                            <div class="leaderboard-number-circle">15.</div>
                        </div>
                        <div class="leaderboard-name">Gellert Grindelwald</div>
                        <div class="leaderboard-score">14</div>
                    </div>
                </div>
            </div>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               CHANGE CHARACTER MENU -->
        <section id="change-character" class="menu" hidden>
            <div class="menu-top">
                <div class="left-buttons">
                    <button type="button" class="button-cube button-help">
                        <span class="icon-in-button-cube"><ion-icon name="help-outline"></ion-icon></span>
                    </button>
                </div>
                <div class="right-buttons">
                    <div class="right-buttons">
                        <button class="button-cube button-sound">
                            <span class="volume-on"><ion-icon name="volume-high"></ion-icon></span>
                            <span class="volume-off" hidden><ion-icon
                                    name="close-circle-outline"></ion-icon></span>
                        </button>
                        <button class="button-cube button-music">
                            <span class="music-on"><ion-icon name="musical-notes"></ion-icon></span>
                            <span class="music-off" hidden><ion-icon name="close-circle-outline"></ion-icon></span>
                        </button>
                    </div>
                    <button class="button-cube button-home">
                        <span class="icon-in-button-cube"><ion-icon name="home"></ion-icon></span>
                    </button>
                </div>
            </div>

            <div id="change-character-title">
                <h1>Change Character</h1>
                <hr id="change-character-hr">
            </div>

            <div class="change-character-container">
                <div class="change-character-options">
                    <input type="radio" id="radiobutton-harry-potter" value="Harry-Potter" name="character" checked>
                    <label class="character-image" for="radiobutton-harry-potter">
                        <p>Harry Potter</p>
                        <span id="harry-potter-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-ron-weasley" value="Ron-Weasley" name="character">
                    <label class="character-image" for="radiobutton-ron-weasley">
                        <p>Ron Weasley</p>
                        <span id="ron-weasley-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-hermione-granger" value="Hermione-Granger" name="character">
                    <label class="character-image" for="radiobutton-hermione-granger">
                        <p>Hermione Granger</p>
                        <span id="hermione-granger-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-dumbledore" value="Dumbledore" name="character">
                    <label class="character-image" for="radiobutton-dumbledore">
                        <p>Albus Dumbledore</p>
                        <span id="dumbledore-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-voldemort" value="Voldemort" name="character">
                    <label class="character-image" for="radiobutton-voldemort">
                        <p>Lord Voldemort</p>
                        <span id="voldemort-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-severus-snape" value="Severus-Snape" name="character">
                    <label class="character-image" for="radiobutton-severus-snape">
                        <p>Severus Snape</p>
                        <span id="severus-snape-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-rubeus-hagrid" value="Rubeus-Hagrid" name="character">
                    <label class="character-image" for="radiobutton-rubeus-hagrid">
                        <p>Rubeus Hagrid</p>
                        <span id="rubeus-hagrid-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-bellatrix" value="Bellatrix" name="character">
                    <label class="character-image" for="radiobutton-bellatrix">
                        <p>Bellatrix Lestrange</p>
                        <span id="bellatrix-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-sirius-black" value="Sirius-Black" name="character">
                    <label class="character-image" for="radiobutton-sirius-black">
                        <p>Sirius Black</p>
                        <span id="sirius-black-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-ginny-weasley" value="Ginny-Weasley" name="character">
                    <label class="character-image" for="radiobutton-ginny-weasley">
                        <p>Ginny Weasley</p>
                        <span id="ginny-weasley-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-neville-longbottom" value="Neville-Longbottom" name="character">
                    <label class="character-image" for="radiobutton-neville-longbottom">
                        <p>Neville Longbottom</p>
                        <span id="neville-longbottom-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-draco-malfoy" value="Draco-Malfoy" name="character">
                    <label class="character-image" for="radiobutton-draco-malfoy">
                        <p>Draco Malfoy</p>
                        <span id="draco-malfoy-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-luna-lovegood" value="Luna-Lovegood" name="character">
                    <label class="character-image" for="radiobutton-luna-lovegood">
                        <p>Luna Lovegood</p>
                        <span id="luna-lovegood-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-mcgonagall" value="Minerva-McGonagall" name="character">
                    <label class="character-image" for="radiobutton-mcgonagall">
                        <p>Minerva McGonagall</p>
                        <span id="mcgonagall-character"></span>
                    </label>

                    <input type="radio" id="radiobutton-grindelwald" value="Gellert-Grindelwald" name="character">
                    <label class="character-image" for="radiobutton-grindelwald">
                        <p>Gellert Grindelwald</p>
                        <span id="grindelwald-character"></span>
                    </label>
                </div>
            </div>
        </section>
        <!--===============================================================-->


        <!--
        ===============================================================
                               INFO MENU -->
        <section id="info" class="menu" hidden>
            <div class="menu-top">
                <div class="left-buttons">
                    <button type="button" id="button-return" class="button-cube">
                        <span class="icon-in-button-cube"><ion-icon name="arrow-undo"></ion-icon></span>
                    </button>
                </div>
                <div id="info-title">
                    <h1>Info - Manual</h1>
                </div>
            </div>

            <div id="info-hr-container">
                <hr id="info-hr">
            </div>

            <div id="info-container">
                <div id="info-text">
                    <div class="info-item">
                        <h3>About</h3>
                        <p>Harry Potter Game</p>
                    </div>
                    <div class="info-item">
                        <h3>How to play</h3>
                        <p>Press SPACE to fly up. If not pressing SPACE, wizard will start to fall down. If you fly
                            above certain point or fall under certain point, wizard will die and game will end.</p>
                    </div>
                    <div class="info-item">
                        <h3>Controls</h3>
                        <p>You control this game using SPACE key.</p>
                    </div>
                    <div class="info-item">
                        <h3>Where to donate</h3>
                        <p>Nowhere! Game is free</p>
                    </div>
                    <div class="info-item">
                        <h3>Credits</h3>
                        <p>Created by Me</p>
                    </div>
                </div>
            </div>

        </section>
        <!--===============================================================-->
    </div>


</div>

<script src="../Controller/EventHandlers/ToggleBarEvents.js"></script>

<!--
<script src="../Model/Actor.js"></script>
<script src="../Model/Background.js"></script>
<script src="../Model/Game.js"></script>
<script src="../Model/Player.js"></script>
<script src="../Controller/GameButton.js"></script>
<script src="../Controller/SwitchMenusButton.js"></script>
<script src="../Controller/SoundButton.js"></script>
<script src="../Controller/LoadGameButton.js"></script>
<script src="../Controller/PlayButton.js"></script>
<script src="../Controller/PauseButton.js"></script>
<script src="../Controller/QuitButton.js"></script>
<script src="../Controller/ResumeButton.js"></script>
<script src="../Controller/ReturnButton.js"></script>
<script src="../Controller/HelpButton.js"></script>
<script src="../Controller/KeyboardEvents.js"></script>
<script src="../Main.js"></script>
<script src="../Controller/MainEventHandler.js"></script>
-->


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>